* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3377AA;
}
button{
  border:none;
}
.header{
  position:fixed;
  top:0;
  right:0;
  left: 0;
  width:100%;
  .nav{
    display:flex;
    align-items: center;
    background: #545652;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    color: rgba(213, 213, 213, 1);
    .left{
      margin-left:12px;
      display:flex;
      align-items: center;
      flex:1;
      li{
        margin-right:24px;
      }
    }
    .right{
      display:flex;
      align-items: center;
      margin-right:23px;
      .download{
        margin-right:25px;
      }
    }
  }
  .subnav{
    background: #F6F6F1;
    .search{
      height:76px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      padding-left: 200px;
      padding-bottom: 19px;
      border-bottom:1px solid #E9E9E2;
      .logo{
        width: 141px;
        height: 32px;
        margin-right:48px;
      }
      input{
        width: 461px;
        height: 30px;
        background: #FFFFFF;
        border:none;
        box-sizing:border-box;
        &:focus {
          outline: none;//点击时不出现边框
        }
      }
      .search-icon{
        width: 33px;
        height: 30px;
        background: url(./images/search-icon.png) no-repeat center/contain;
      }
    }
    ul{
      height:39px;
      display: flex;
      align-items: center;
      padding-left: 200px;
      font-size: 14px;
      line-height: 23px;
      color: #614E3C;
      li{
        margin-right:29px;
      }
    }
  }
}
.main{
  margin-top:143px;
  padding:0 200px;
  display: flex;
  .left{
    width: 675px;
    margin-right:65px;
    .new{
      .head{
        height: 51px;
        box-sizing:border-box;
        border-bottom:1px solid #DDDDDD;
        display: flex;
        align-items: center;
        padding-top:15px;
        .left{
          flex:1;
          display: flex;
          align-items: center;
          .title{
          font-size: 18px;
          color: #111111;
          margin-right:15px;
          }
          .more{
            font-size: 13px;
          }
        }
        .right{
          display: flex;
          align-items: center;
          flex:none;
          .circle{
            margin-right:5px;
            display: flex;
            li{
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #9B9A8F;
              margin-right:8px;
            }
          }
          .arrow{
            display:flex;
            li{
              width: 18px;
              height: 18px; 
              background: #9B9A8E;
              border-radius: 9px;
              color: #FFFFFF;
              text-align: center;
              line-height:16px;
              margin-right:8px;
            }
          }
        }
      }
    }
  }
}