* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3377AA;
}

button {
  border: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.header .nav {
  display: flex;
  align-items: center;
  background: #545652;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #d5d5d5;
}
.header .nav .left {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex: 1;
}
.header .nav .left li {
  margin-right: 24px;
}
.header .nav .right {
  display: flex;
  align-items: center;
  margin-right: 23px;
}
.header .nav .right .download {
  margin-right: 25px;
}
.header .subnav {
  background: #F6F6F1;
}
.header .subnav .search {
  height: 76px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-left: 200px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E9E9E2;
}
.header .subnav .search .logo {
  width: 141px;
  height: 32px;
  margin-right: 48px;
}
.header .subnav .search input {
  width: 461px;
  height: 30px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
}
.header .subnav .search input:focus {
  outline: none;
}
.header .subnav .search .search-icon {
  width: 33px;
  height: 30px;
  background: url(./images/search-icon.png) no-repeat center/contain;
}
.header .subnav ul {
  height: 39px;
  display: flex;
  align-items: center;
  padding-left: 200px;
  font-size: 14px;
  line-height: 23px;
  color: #614E3C;
}
.header .subnav ul li {
  margin-right: 29px;
}

.main {
  margin-top: 143px;
  padding: 0 200px;
  display: flex;
}
.main .left {
  width: 675px;
  margin-right: 65px;
}
.main .left .new .head {
  height: 51px;
  box-sizing: border-box;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.main .left .new .head .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.main .left .new .head .left .title {
  font-size: 18px;
  color: #111111;
  margin-right: 15px;
}
.main .left .new .head .left .more {
  font-size: 13px;
}
.main .left .new .head .right {
  display: flex;
  align-items: center;
  flex: none;
}
.main .left .new .head .right .circle {
  margin-right: 5px;
  display: flex;
}
.main .left .new .head .right .circle li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #9B9A8F;
  margin-right: 8px;
}
.main .left .new .head .right .arrow {
  display: flex;
}
.main .left .new .head .right .arrow li {
  width: 18px;
  height: 18px;
  background: #9B9A8E;
  border-radius: 9px;
  color: #FFFFFF;
  text-align: center;
  line-height: 16px;
  margin-right: 8px;
}
.main .left .new .list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .left .new .list .item {
  height: 234px;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .left .new .list .item .name {
  font-size: 14px;
  line-height: 15px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.main .left .new .list .item .author {
  font-size: 13px;
  line-height: 13px;
  color: #333333;
}
.main .left .new .list .item .img {
  width: 115px;
  height: 161px;
}
.main .left .new .list .item:nth-child(1) .img {
  background: url(./images/new1.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(2) .img {
  background: url(./images/new2.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(3) .img {
  background: url(./images/new3.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(4) .img {
  background: url(./images/new4.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(5) .img {
  background: url(./images/new5.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(6) .img {
  background: url(./images/new6.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(7) .img {
  background: url(./images/new7.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(8) .img {
  background: url(./images/new8.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(9) .img {
  background: url(./images/new9.png) no-repeat center/contain;
}
.main .left .new .list .item:nth-child(10) .img {
  background: url(./images/new10.png) no-repeat center/contain;
}
.main .left .rank {
  margin-top: 85px;
}

/*# sourceMappingURL=index.css.map */
