* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3377AA;
}
button{
  border:none;
}
body{
  width:1440px;
}
.header{
  position:fixed;
  top:0;
  right:0;
  left: 0;
  width:100%;
  .nav{
    display:flex;
    align-items: center;
    background: #545652;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    color: rgba(213, 213, 213, 1);
    .left{
      margin-left:12px;
      display:flex;
      align-items: center;
      flex:1;
      li{
        margin-right:24px;
      }
    }
    .right{
      display:flex;
      align-items: center;
      margin-right:23px;
      .download{
        margin-right:25px;
      }
    }
  }
  .subnav{
    background: #F6F6F1;
    .search{
      height:76px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      padding-left: 200px;
      padding-bottom: 19px;
      border-bottom:1px solid #E9E9E2;
      .logo{
        width: 141px;
        height: 32px;
        margin-right:48px;
      }
      input{
        width: 461px;
        height: 30px;
        background: #FFFFFF;
        border:none;
        box-sizing:border-box;
        &:focus {
          outline: none;//点击时不出现边框
        }
      }
      .search-icon{
        width: 33px;
        height: 30px;
        background: url(./images/search-icon.png) no-repeat center/contain;
      }
    }
    ul{
      height:39px;
      display: flex;
      align-items: center;
      padding-left: 200px;
      font-size: 14px;
      line-height: 23px;
      color: #614E3C;
      li{
        margin-right:29px;
      }
    }
  }
}
.main{
  margin-top:143px;
  padding:0 200px;
  display: flex;
  flex:1;
  .left{
    width: 675px;
    margin-right:65px;
    .new{
      .head{
        height: 51px;
        box-sizing:border-box;
        border-bottom:1px solid #DDDDDD;
        display: flex;
        align-items: center;
        padding-top:15px;
        .left{
          flex:1;
          display: flex;
          align-items: center;
          .title{
          font-size: 18px;
          color: #111111;
          margin-right:15px;
          }
          .more{
            font-size: 13px;
          }
        }
        .right{
          display: flex;
          align-items: center;
          flex:none;
          .circle{
            margin-right:5px;
            display: flex;
            li{
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #9B9A8F;
              margin-right:8px;
            }
          }
          .arrow{
            display:flex;
            li{
              width: 18px;
              height: 18px; 
              background: #9B9A8E;
              border-radius: 9px;
              color: #FFFFFF;
              text-align: center;
              line-height:16px;
              margin-right:8px;
            }
          }
        }
      }
      .list{
        display:flex;
        flex:1;
        justify-content: space-between;
        flex-wrap: wrap;
        .item{
          height:234px;
          width:115px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .name{
            font-size: 14px;
            line-height: 15px;
            margin-top:6px;
            margin-bottom:5px;
          }
          .author{
            font-size: 13px;
            line-height: 13px;
            color: #333333;
          }
          .img{
            width: 115px;
            height: 161px;
          }
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) .img{
              background:url(./images/new#{$i}.png) no-repeat center/contain;
            }
          }
        }
      }
    }
    .rank{
      margin-top:81px;
      .head{
        height:36px;
        display:flex;
        align-items: center;
        border-bottom: 1px solid  #DDDDDD;
        box-sizing: border-box;
        .title{
          font-size: 18px;
          color: #111111;
          margin-right: 15px;
        }
        .fiction{
          font-size: 13px;
          margin-right:13px;
        }
        .nonfiction{
          font-size: 13px;
        }
      }
      .list{
        display: flex;
        flex:1;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top:15px;
        li{
          display: flex;
          width:337px;
          margin-bottom: 31px;
          .img{
          background: url(./images/rank1.png) no-repeat center/contain;
          width: 80px;
          height: 120px;
          }
          .detail{
            margin-left:31px;
            .name{
              font-size: 15px;
              line-height: 24px;
            }
            .star{
              margin-top:4px;
              display: flex;
              align-items: center;
              .img{
                width: 55px;
                height: 11px;
                background: url(./images/star.png) no-repeat center/contain;
                margin-right:7px;
              }
              font-size: 10px;
              line-height: 16px;
              color: #E09015;
              margin-bottom:6px;
            }
            .author{
              font-size: 13px;
              line-height: 21px;          
              color: #111111;
            }
            .sort{
              font-size: 13px;
              line-height: 21px;          
              color: #111111;
            }
            .ebook{
              margin-top:2px;
              width: 58px;
              height: 17px;
              background: #A1A1A1;
              color: #FFFFFF;
              font-size: 13px;
              line-height: 17px;
              text-align: center;
            }
          }
        }
      }
    }
    .shop{
      margin-top:113px;
      .head{
        height:36px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #DDDDDD;
        .title{
          font-size: 18px;
          color: #111111;
          margin-right:15px;
        }
        .all{
          font-size: 13px;
        }
      }
      .example{
        margin-top:15px;
        margin-bottom:30px;
        display:flex;
        .img{
          width: 130px;
          height: 172px;
          background: url(./images/shop1.png) no-repeat center/contain;
          margin-right:20px;
        }
        .detail{
          margin-top:23px;
          .name{
            font-size: 23px;
            line-height: 32px;
            color: #111111;
            display:inline-block;
            margin-right:23px;
          }
          .price{
            font-size: 17px;
            line-height: 32px;
            color: #E76648;
            display:inline-block;
          }
          .describe{
            margin-top:9px;
            font-size: 14px;
            line-height: 20px;
            color: #9B9B9B;
          }
        }
      }
      .list{
        display: flex;
        align-items: center;
        height: 183px;
        li{
        margin-right: 34px;
        .img{
          width: 106px;
          height: 140px;
          margin-bottom: 11px;
          background: url(./images/shop1.png) center center / contain no-repeat;
          } 
        .name {
            font-size: 13px;
            line-height: 14px;
          }
        .price {
            margin-top: 4px;
            font-size: 13px;
            line-height: 13px;
            color: rgb(75, 75, 75);
           }
        }
       } 
      }
    .ebook{
      margin-top: 63px;
       .head {
        height: 36px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(221, 221, 221);
          .title {
          font-size: 18px;
          color: rgb(17, 17, 17);
          margin-right: 15px;
           }
         .all {
          font-size: 13px;
          }
        }
       .subhead {
          height: 43px;
          display: flex;
          align-items: center;
          .title {
          font-size: 15px;
          color: rgb(17, 17, 17);
          margin-right: 14px;
          }
          .all {
            font-size: 15px;
          }
        }
        .list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          li {
            width: 106px;
            margin-bottom: 21px;
            margin-right: 34px;
            &:last-child{
              margin-right:0;
            }
            &:nth-child(5){
              margin-right:0;
            }
            .img{
              width: 106px;
              height: 158px;
              background: url(./images/ebook1.png) no-repeat center/contain;
              margin-bottom: 11px;
            }
            .name{
              display:block;
              width:106px;
              font-size: 13px;
              line-height: 14px;
              white-space:nowrap;
              overflow : hidden;
              text-overflow:ellipsis;
            }
            .price{
              margin-top:4px;
              font-size: 13px;
              line-height: 13px;
              color: #4B4B4B;
            }
          }
      }
    }
    .aside{
      width:300px;
    }
  }
} 