* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3377AA;
}

button {
  border: none;
}

body {
  width: 1440px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.header .nav {
  display: flex;
  align-items: center;
  background: #545652;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #d5d5d5;
}
.header .nav .left {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex: 1;
}
.header .nav .left li {
  margin-right: 24px;
}
.header .nav .right {
  display: flex;
  align-items: center;
  margin-right: 23px;
}
.header .nav .right .download {
  margin-right: 25px;
}
.header .subnav {
  background: #F6F6F1;
}
.header .subnav .search {
  height: 76px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-left: 200px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E9E9E2;
}
.header .subnav .search .logo {
  width: 141px;
  height: 32px;
  margin-right: 48px;
}
.header .subnav .search input {
  width: 461px;
  height: 30px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
}
.header .subnav .search input:focus {
  outline: none;
}
.header .subnav .search .search-icon {
  width: 33px;
  height: 30px;
  background: url(./images/search-icon.png) no-repeat center/contain;
}
.header .subnav ul {
  height: 39px;
  display: flex;
  align-items: center;
  padding-left: 200px;
  font-size: 14px;
  line-height: 23px;
  color: #614E3C;
}
.header .subnav ul li {
  margin-right: 29px;
}

.main {
  margin-top: 143px;
  padding: 0 200px;
}
.main .top {
  display: flex;
  flex: 1;
}
.main .top .left {
  width: 675px;
  margin-right: 65px;
}
.main .top .left .new .head {
  height: 51px;
  box-sizing: border-box;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.main .top .left .new .head .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.main .top .left .new .head .left .title {
  font-size: 18px;
  color: #111111;
  margin-right: 15px;
}
.main .top .left .new .head .left .more {
  font-size: 13px;
}
.main .top .left .new .head .right {
  display: flex;
  align-items: center;
  flex: none;
}
.main .top .left .new .head .right .circle {
  margin-right: 5px;
  display: flex;
}
.main .top .left .new .head .right .circle li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #9B9A8F;
  margin-right: 8px;
}
.main .top .left .new .head .right .arrow {
  display: flex;
}
.main .top .left .new .head .right .arrow li {
  width: 18px;
  height: 18px;
  background: #9B9A8E;
  border-radius: 9px;
  color: #FFFFFF;
  text-align: center;
  line-height: 16px;
  margin-right: 8px;
}
.main .top .left .new .list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .top .left .new .list .item {
  height: 234px;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .top .left .new .list .item .name {
  font-size: 14px;
  line-height: 15px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.main .top .left .new .list .item .author {
  font-size: 13px;
  line-height: 13px;
  color: #333333;
}
.main .top .left .new .list .item .img {
  width: 115px;
  height: 161px;
}
.main .top .left .new .list .item:nth-child(1) .img {
  background: url(./images/new1.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(2) .img {
  background: url(./images/new2.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(3) .img {
  background: url(./images/new3.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(4) .img {
  background: url(./images/new4.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(5) .img {
  background: url(./images/new5.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(6) .img {
  background: url(./images/new6.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(7) .img {
  background: url(./images/new7.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(8) .img {
  background: url(./images/new8.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(9) .img {
  background: url(./images/new9.png) no-repeat center/contain;
}
.main .top .left .new .list .item:nth-child(10) .img {
  background: url(./images/new10.png) no-repeat center/contain;
}
.main .top .left .rank {
  margin-top: 81px;
}
.main .top .left .rank .head {
  height: 36px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  box-sizing: border-box;
}
.main .top .left .rank .head .title {
  font-size: 18px;
  color: #111111;
  margin-right: 15px;
}
.main .top .left .rank .head .fiction {
  font-size: 13px;
  margin-right: 13px;
}
.main .top .left .rank .head .nonfiction {
  font-size: 13px;
}
.main .top .left .rank .list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
}
.main .top .left .rank .list li {
  display: flex;
  width: 337px;
  margin-bottom: 31px;
}
.main .top .left .rank .list li .img {
  background: url(./images/rank1.png) no-repeat center/contain;
  width: 80px;
  height: 120px;
}
.main .top .left .rank .list li .detail {
  margin-left: 31px;
}
.main .top .left .rank .list li .detail .name {
  font-size: 15px;
  line-height: 24px;
}
.main .top .left .rank .list li .detail .star {
  margin-top: 4px;
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 16px;
  color: #E09015;
  margin-bottom: 6px;
}
.main .top .left .rank .list li .detail .star .img {
  width: 55px;
  height: 11px;
  background: url(./images/star.png) no-repeat center/contain;
  margin-right: 7px;
}
.main .top .left .rank .list li .detail .author {
  font-size: 13px;
  line-height: 21px;
  color: #111111;
}
.main .top .left .rank .list li .detail .sort {
  font-size: 13px;
  line-height: 21px;
  color: #111111;
}
.main .top .left .rank .list li .detail .ebook {
  margin-top: 2px;
  width: 58px;
  height: 17px;
  background: #A1A1A1;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
}
.main .top .left .shop {
  margin-top: 113px;
}
.main .top .left .shop .head {
  height: 36px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .left .shop .head .title {
  font-size: 18px;
  color: #111111;
  margin-right: 15px;
}
.main .top .left .shop .head .all {
  font-size: 13px;
}
.main .top .left .shop .example {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
}
.main .top .left .shop .example .img {
  width: 130px;
  height: 172px;
  background: url(./images/shop1.png) no-repeat center/contain;
  margin-right: 20px;
}
.main .top .left .shop .example .detail {
  margin-top: 23px;
}
.main .top .left .shop .example .detail .name {
  font-size: 23px;
  line-height: 32px;
  color: #111111;
  display: inline-block;
  margin-right: 23px;
}
.main .top .left .shop .example .detail .price {
  font-size: 17px;
  line-height: 32px;
  color: #E76648;
  display: inline-block;
}
.main .top .left .shop .example .detail .describe {
  margin-top: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #9B9B9B;
}
.main .top .left .shop .list {
  display: flex;
  align-items: center;
  height: 183px;
}
.main .top .left .shop .list li {
  margin-right: 34px;
}
.main .top .left .shop .list li .img {
  width: 106px;
  height: 140px;
  margin-bottom: 11px;
  background: url(./images/shop1.png) center center/contain no-repeat;
}
.main .top .left .shop .list li .name {
  font-size: 13px;
  line-height: 14px;
}
.main .top .left .shop .list li .price {
  margin-top: 4px;
  font-size: 13px;
  line-height: 13px;
  color: #4b4b4b;
}
.main .top .left .ebook {
  margin-top: 63px;
}
.main .top .left .ebook .head {
  height: 36px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}
.main .top .left .ebook .head .title {
  font-size: 18px;
  color: #111111;
  margin-right: 15px;
}
.main .top .left .ebook .head .all {
  font-size: 13px;
}
.main .top .left .ebook .subhead {
  height: 43px;
  display: flex;
  align-items: center;
}
.main .top .left .ebook .subhead .title {
  font-size: 15px;
  color: #111111;
  margin-right: 14px;
}
.main .top .left .ebook .subhead .all {
  font-size: 15px;
}
.main .top .left .ebook .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main .top .left .ebook .list li {
  width: 106px;
  margin-bottom: 21px;
  margin-right: 34px;
}
.main .top .left .ebook .list li:last-child {
  margin-right: 0;
}
.main .top .left .ebook .list li:nth-child(5) {
  margin-right: 0;
}
.main .top .left .ebook .list li .img {
  width: 106px;
  height: 158px;
  background: url(./images/ebook1.png) no-repeat center/contain;
  margin-bottom: 11px;
}
.main .top .left .ebook .list li .name {
  display: block;
  width: 106px;
  font-size: 13px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .top .left .ebook .list li .price {
  margin-top: 4px;
  font-size: 13px;
  line-height: 13px;
  color: #4B4B4B;
}
.main .top .left .comment {
  margin-top: 71px;
}
.main .top .left .comment .head {
  height: 38px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}
.main .top .left .comment .head .title {
  font-size: 18px;
  color: #111111;
  margin-right: 17px;
}
.main .top .left .comment .head .all {
  font-size: 13px;
  margin-right: 16px;
}
.main .top .left .comment .list li {
  height: 167px;
  box-sizing: border-box;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  padding-top: 23px;
}
.main .top .left .comment .list li:first-child {
  height: 158px;
  padding-top: 15px;
}
.main .top .left .comment .list li:last-child {
  border-bottom: none;
}
.main .top .left .comment .list li .img {
  background: url(./images/comment1.png) no-repeat center/contain;
  width: 75px;
  height: 107px;
  margin-right: 15px;
}
.main .top .left .comment .list li .right .name {
  font-size: 15px;
  line-height: 27px;
}
.main .top .left .comment .list li .right .author {
  display: inline-block;
  font-size: 13px;
  line-height: 21px;
  color: #666666;
}
.main .top .left .comment .list li .right .star {
  background: url(./images/star.png) no-repeat center/contain;
  width: 55px;
  height: 11px;
  margin-left: 4px;
  display: inline-block;
}
.main .top .left .comment .list li .right .content {
  font-size: 13px;
  line-height: 20px;
  color: #111111;
}
.main .top .aside {
  width: 300px;
  margin-top: 69px;
}
.main .top .aside .tag .title {
  font-size: 16px;
  line-height: 32px;
  height: 33px;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .tag .list .kind {
  padding-bottom: 1px;
  padding-top: 11px;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .tag .list .kind .name {
  font-size: 13px;
  line-height: 22px;
  color: #111111;
}
.main .top .aside .tag .list .kind .category {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.main .top .aside .tag .list .kind .category li {
  padding: 2px 11px 0 11px;
  height: 22px;
  line-height: 20px;
  font-size: 13px;
  background: #F5F5F5;
  margin-right: 3px;
  margin-bottom: 5px;
}
.main .top .aside .tag .list .kind .category .more {
  width: 55px;
  height: 20px;
  padding: 3px 11px 1px 10px;
  background: #F5F5F5;
  color: #AAAAAA;
  font-size: 13px;
  line-height: 18px;
}
.main .top .aside .sale {
  margin-top: 27px;
}
.main .top .aside .sale .title {
  box-sizing: border-box;
  height: 36px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 18px;
  line-height: 36px;
  color: #111111;
}
.main .top .aside .sale .list {
  margin-top: 12px;
}
.main .top .aside .sale .list li {
  display: flex;
  align-items: center;
  height: 53px;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .sale .list li .left {
  flex: 1;
}
.main .top .aside .sale .list li .left span {
  font-size: 14px;
  line-height: 23px;
  color: #111111;
}
.main .top .aside .sale .list li .left span .name {
  margin-left: 5px;
  color: #3377AA;
}
.main .top .aside .sale .list li .left .author {
  margin-left: 16px;
  font-size: 13px;
  line-height: 21px;
  color: #666666;
}
.main .top .aside .sale .list li .buy {
  font-size: 13px;
  line-height: 13px;
  width: 39px;
  flex: none;
  color: #999999;
  background: transparent;
}
.main .top .aside .book {
  margin-top: 22px;
}
.main .top .aside .book .title {
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  color: #111111;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .book .list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .top .aside .book .list li {
  margin-bottom: 27px;
  width: 85px;
}
.main .top .aside .book .list li .img {
  background: url(./images/book1.png) no-repeat center/contain;
  width: 85px;
  height: 123px;
  margin-bottom: 10px;
}
.main .top .aside .book .list li .name {
  display: block;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 21px;
}
.main .top .aside .our {
  margin-top: 9px;
}
.main .top .aside .our .connect {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #222222;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .our .cooperation {
  margin-top: 15px;
  font-size: 14px;
  line-height: 23px;
  color: #111111;
}
.main .top .aside .our .cooperation .mail {
  display: inline-block;
  background: url(./images/mail.png) no-repeat center/contain;
  width: 121px;
  height: 12px;
}
.main .top .aside .our .focus {
  margin-top: 25px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #222222;
  border-bottom: 1px solid #DDDDDD;
}
.main .top .aside .our .share {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.main .top .aside .our .share li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.main .top .aside .our .share li .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}
.main .top .aside .our .share li .name {
  font-size: 12px;
  line-height: 12px;
}
.main .top .aside .our .share li:first-child .icon {
  background: url(./images/douban.png) no-repeat center/contain;
}
.main .top .aside .our .share li:nth-child(2) .icon {
  background: url(./images/weibo.png) no-repeat center/contain;
}
.main .top .aside .our .share li:nth-child(3) .icon {
  background: url(./images/weixin.png) no-repeat center/contain;
}
.main .footer {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DDDDDD;
  padding-top: 7px;
  box-sizing: border-box;
  margin-bottom: 63px;
}
.main .footer .left {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}
.main .footer .list {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 21px;
}
.main .footer .list li {
  margin-left: 11px;
}

/*# sourceMappingURL=index.css.map */
